button {
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: #19c3ff;
  border-radius: 14px 14px 0px 14px;
  outline: none;
  border: none;
  font-family: inherit;
  padding: 17px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.1em;
  cursor: pointer;
}
