.options-box {
  .container {
    max-width: 1650px;
  }
}

.text-box {
  background: #ffffff;
  box-shadow: 0 14px 60px rgba(32, 14, 50, 0.06);
  border-radius: 40px 40px 0 40px;
  width: 510px;
  max-height: 600px;
  padding: 50px;
  overflow: auto;

  // S T A R T style scrollbar
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: rgba(#19c3ff, 0.1);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb {
    //border-radius: 10px;
    background: #19c3ff;
    opacity: 0.4;
    border-radius: 7px;
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  // E N D style scrollbar

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #200e32;
    opacity: 0.8;
  }
}
