.card--product {
  z-index: 99;
  max-width: 370px !important;
  position: relative;

  &.recommended {
    background-color: rgba(49, 178, 248, 0.1);
  }

  .product-image {
    background: #19c3ff;
    border-radius: 40px;
    padding: 25px 30px 20px;

    img,
    svg {
      width: 100%;
      height: auto;
    }
  }

  .product-category {
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 10px;
    color: #200e32;
    opacity: 0.5;
    margin-top: 25px;
  }

  .product-title {
    margin-top: 10px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #200e32;
    opacity: 0.8;
  }

  .product-description {
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #200e32;
    opacity: 0.8;
  }

  .product-cta {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .btn {
      padding: 10px 14px;
      font-size: 14px;
      margin-right: 20px;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #2593ba;
      }
    }
  }

  .product-quantity-selector {
    border: 1px solid rgba(#19c3ff, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .quantity-controls {
      cursor: pointer;
    }

    input,
    button {
      height: 100%;
    }
    button {
      background-color: transparent;
      width: 35px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }
    input[name='quantity'] {
      -webkit-appearance: none !important;
      appearance: none !important;
      margin: -1px 0 0 0;
      -moz-appearance: textfield;
      border: 0;
      border-top: 1px solid var(--primary);
      outline: none;
      max-width: 50px;
      text-align: center;
      padding: 0;
      background-color: var(--primary);
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }
  }

  .remove-link {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: #f73c09;
    &:hover {
      color: #cb2e00;
    }
  }
}


.moneySection{
  .money {
    padding: 10px 15px;
    background: rgba(#19C3FF, 0.1);
    border-radius: 20px;
    color: #19C3FF;
  }
}