.cart-page {
  padding-bottom: 100px;

  .card--cart {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    border-radius: 40px 40px 40px 0px;
  }
}

.cart-table {
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;

  thead {
    border-radius: 40px 40px 0 0 !important;
    overflow: hidden;

    th {
      font-weight: 400;
      letter-spacing: 0.1em;
      color: #fff;
      padding: 25px 20px;
      background-color: var(--primary);
      border-radius: 0;
      //border: 0 !important;
      border-right: 1px solid rgba(#fff, 0.2);

      &:first-child {
        border-top-left-radius: 40px;
      }
      &:last-child {
        border-top-right-radius: 40px;
        border-right: 0;
      }
    }
  }

  tbody {
    .product-image {
      max-width: 200px;
      width: 166px;
      padding: 20px;
      height: auto;
      border-radius: 20px;
      background-color: rgba(#19c3ff, 0.1);

      svg,
      img {
        width: 100%;
        height: auto;
      }
    }

    .product-info {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.1em;
      color: #200e32;
      opacity: 0.8;
      //max-width: 300px;
    }

    .price {
      width: 80px;
    }

    td {
      padding: 20px;
      border-right: 1px solid rgba(#19c3ff, 0.2);
      border-bottom: 1px solid rgba(#19c3ff, 0.2) !important;

      &:last-child {
        border-right: 0;
      }

      &:last-child,
      &:nth-last-child(2) {
        text-align: center;
      }
    }
    tr:last-child {
      td {
        border-bottom: 0 !important;
      }
    }
  }

  .discount,
  .sum {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #200e32;
    //opacity: 0.8;
  }
}

.cart-cta {
  padding-top: 55px;
  padding-bottom: 100px;
  text-align: center;

  .btn {
    padding: 26px 50px;
    cursor: pointer;
  }
}
